body {
    font-family: Poppins;
    text-align: center;
}
.product-card {
    background-color: white;
    padding: 10px;
    margin: 15px 0;
    width: 30%;
    min-width: 300px;
    box-shadow: 5px 5px 0 rgb(216, 213, 213);
    border-radius: 10px;
    text-align: left;
}
.product-card h2 {
    margin: 0 0 10px 0;
}
.product-card p {
    word-break: break-all;
    margin: 0;
}

.products-ctnr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
}
.card-img-ctnr {
    height: 406px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
    overflow: hidden;
}
.card-img-ctnr img {
    width: auto;
    height: 100%;
}
nav {
    display: flex; 
    background-color: steelblue; 
    color: white; 
    padding: 20px 0; 
    align-items: center;
}

nav div {
    width: 80%;
    margin: auto;
}

nav .left , nav .right {
    display: flex;
    margin: 0;
    width: auto;
}

nav .left li {
    margin-right: 15px;
}

nav .right li {
    display: flex;
    margin-left: 15px;
}

nav .logo {
    margin: 0;
    color: #66EB9A;
    margin-right: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

nav li a {
    color: white;
}

nav li a:hover {
    color: white;
    text-decoration: underline;
}

.content {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

.content img {
    border-radius: 10px;
}

.prices {
    display: flex;
}
.prices p {
    font-weight: bold;
}

.prices .old {
    text-decoration: line-through;
    margin-right: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected-product-ctnr {
    width: 80%;
    padding: 20px 0;
    margin: auto;
    display: flex;
    text-align: left;
}
.selected-product-ctnr div {
    width: 100%;
}
.selected-product-ctnr label {
    width: 50%;
    display: flex;
}
.selected-product-ctnr select {
    margin-left: 10px;
    width: 30%;
}

.selected-product-ctnr img {
    width: 50%;
    padding: 0;
    margin-right: 10px;
}

.selected-product-ctnr .discount {
    font-weight: bold;
}

.selected-product-ctnr span {
    font-weight: bold;
}

footer {
    background-color: steelblue;
}
.footer-content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 20px 0;
}

.footer-content div{
    text-align: center;
}

.footer-content div ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-content div ul li a {
    color: white;
}

.pagination {
    margin: 22px auto;
}

.success {
    margin: 10px 0;
    background-color: #66EB9A;
    color: white;
    padding: 7px;
    border-radius: 4px;
}

.sizes-ctnr {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
@media  (max-width: 674px) {
    .content {
        width: 100%;
    }

    .product-card {
        width: 100%;
    }

    header {
        flex-direction: column-reverse;
        text-align: center;
    }

    .footer-content {
        width: 100%;
        flex-direction: column;
    }

    .footer-content div {
        margin: 10px 0;
    }

    .selected-product-ctnr {
        flex-direction: column;
    }

    .selected-product-ctnr img {
        width: 100%;
    }
}